@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*,::before, ::after {box-sizing: border-box;}
:root {
    --prime-green:rgb(48, 207, 154);
    --light-green:rgb(117, 240, 199);
    --dark-green:rgb(15, 138, 97);
    --mild-gray:hsl(0, 0%, 40%);
    --dark-gray:hsl(0, 0%, 20%);
    --light-gray:hsl(0, 0%, 95%);
    --theme-font: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    color: var(--mild-gray);
    line-height: 190%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    color:var(--prime-green);
    text-decoration: none;
}

strong {
    color: var(--dark-gray);
}
img {
    display: block;
    width: 100%;
}

h1, h2, h3, h4 {
    line-height: 150%;
}
h3 {
    font-size: 1.6rem;
    font-family: var(--theme-font);
    font-weight: 600;
    display: inline-block;
    background: linear-gradient(to top,var(--light-green) 13%, transparent 0% );
}
h4 {
    font-size: 1.1rem;
}
details {
    margin-bottom: 1rem;
}
summary {
    font-size: 1.2rem;
    cursor: pointer;
}
figcaption {
    margin-top: 1rem;
    text-align: center;
    font-size: small;
    line-height: 1.3rem;
}
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.red {
    color: hsl(0, 100%, 40%);
}
.smaller {
    font-size: smaller;
}
.wrap {
    width: 75%;
    margin-inline: auto;
}
.button-top {
    display: block;
    border-radius: 5rem;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    position: fixed;
    bottom: 1.6rem;
    right: 1rem;
    z-index: 1000;
    background-color:hsla(0, 0%, 0%, 0);
    background-clip: padding-box,border-box;
    background-origin: border-box;
    border: solid 0.2rem rgba(0,0,0,0);
    opacity: 0;/*Hide the Top Button Initially*/
    pointer-events: none;
    transform: translateY(10px);
    transition: all 0.3s ease;
}
.button-top.is-visible {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }
.button-top:hover {
    color: white;
    background-image: none;
    background-color: var(--prime-green)!important;
}
nav {
    padding-bottom: 0;
    margin-top: 0.6rem;
    margin-bottom: 2.5rem;
    box-shadow: 0 3px 5px 0 rgba(128, 128, 128, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    z-index: 999;
}
nav ul {
    font-size: 1.2rem;
    list-style: none;
    margin: 0; padding: 0;
    line-height: 50px;
    display: flex;
    gap: 10px;
}
nav li:not(:last-child)::after{
    content: " > ";
    padding-left: 0.5rem;
    color: var(--light-green);
    font-size: smaller;
}
ul.sub-nav {
    margin: 0;
    margin-bottom: 3rem; 
    padding: 0;
    list-style: none;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.sub-nav li {
    flex-shrink: 0;
}
.sub-nav li a {
    display: block;
    border: 1px solid;
    border-radius: 2rem;
    padding-inline: 1rem;
    transition: background 0.3s;
}
.sub-nav li a:hover {
    color: white;
    background-color: var(--prime-green);
}
dt {
    color: var(--dark-gray);
    font-weight: bold;
    font-size: 1.1rem;
    margin-block: 1rem;
}

section.home {
    width: 750px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.home div {
    flex: 30%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

div.logo {
    color: white;
    font-size: 2.5rem;
    font-family: var(--theme-font);
    font-weight: 300;
    background-color: black;
}
.home div a {
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home div:nth-child(1):hover {
    background-color: red;
}
.home div:nth-child(2):hover {
    background-color: orange;
}
.home div:nth-child(3):hover {
    background-color: yellow;
}
.home div:nth-child(4):hover {
    background-color: green;
}
.home div:nth-child(6):hover {
    background-color: blue;
}
.home div:nth-child(7):hover {
    background-color: violet;
}
.home div:nth-child(8):hover {
    background-color: purple;
}
.home div:nth-child(9):hover {
    background-color: darkred;
}

section.instructions {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 20px;
}
section.instructions a {
    display: block;
    width: 130px;
    aspect-ratio: 1;
    border-radius: 1rem;
    object-fit: contain;
    border: 5px solid var(--prime-green);
    overflow: hidden;
    opacity: 50%;
    transition: 0.2s;
}
section.instructions a:hover {
    opacity: 100%;
}
section.instructions img {
    position: relative;
    z-index: -1;
}
footer {
    font-size: 0.9rem;
    font-family: var(--theme-font);
    margin: 0px auto;
    margin-top: 40px;
    padding: 30px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:var(--light-gray);
}
div.share {
    margin: 50px auto;
    width: 200px; 
}
div.share h4 {
    color:var(--dark-green);
    text-align: center;
}
div.share img {
    width: 200px;
    object-fit: contain;
    border-radius: 15px;
}
footer p {
    text-align: center;
}
.lb-outerContainer {
    background-color: black;
}
.lb-data .lb-caption {
    color: white;
    font-size: 1.2rem;
    line-height: 180%;
}
#page-css .sub-nav .css-home a {
    color: white;
    background-color: var(--prime-green);
}
#page-csshistory .sub-nav .css-history a {
    color: white;
    background-color: var(--prime-green);
}
#page-css3 .sub-nav .css-css3 a {
    color: white;
    background-color: var(--prime-green);
}
#page-browser .sub-nav .browser-home a {
    color: white;
    background-color: var(--prime-green);
}
#page-browserwar .sub-nav .browser-war a {
    color: white;
    background-color: var(--prime-green);
}
#page-firefox .sub-nav .browser-firefox a {
    color: white;
    background-color: var(--prime-green);
}
#page-safari .sub-nav .browser-safari a {
    color: white;
    background-color: var(--prime-green);
}

@media screen and (max-width:600px) {
    h3 {
        font-size: 1.6rem;
    }
    .flex {
        flex-wrap: wrap;
    }
}