@import url(base.css);
@import url(mobile.css) screen and (max-width:727px);
@import url(desktop.css)screen and (min-width:728px);

/*--------------------------*/
/*  General Theme Settings  */
/*--------------------------*/




/*Theme*/
body {
    font-family: var(--BFG-body-font-family);
    background-color: var(--PG-30);
}
body > .wrap {
    background-color: var(--BFG-Neutral-White);
}
header menu {
    background-color: var(--BFG-Neutral-White);
}
header menu a {
    color: var(--BFG-Prime-Green);
}


.bgcolor-wrap-light {
    background: #f0f6e5;
}
.bgcolor-wrap-dark {
    background: var(--BFG-Prime-Green, #00693e);
}

/* Theme Slider */
section.slider {
    border: 1px solid var(--BFG-Neutral-Light, #DDE0E3);
    background: var(--BFG-Neutral-Mild, #A5ADB6);
}

/* Theme BIA 就是 ESG 解方 */
/*--------------------------------*/
.QA dl.question {
    background: #EBEEEF;
    color: var(--BFG-Neutral-Gray, #57616B);
}
.QA dl.question::after {
    border-color: transparent transparent transparent #EBEEEF;
}
.QA dl.answer {
    color: var(--BFG-Neutral-White, #F9FAFA);
}

/* Theme 聯盟現況 */
/*--------------------------------*/
.update .card {
    background: linear-gradient(180deg, #DEEAC7 0%, #B2CE7D 100%);
}
.update .card h3 {
    color: var(--BFG-Primary-Green, #00693E);
}
.update .card h3::after {
    background-color: var(--BFG-Primary-Green, #00693E);
}
.card .count {
    color: var(--BFG-Neutral-White, #F9FAFA);
    background: var(--BFG-Primary-Green, #00693E);
}

/* Theme 提升 ESG */
/*--------------------------------*/
section.elevate > p {
    color: var(--N-50, #89959f);
}
section.elevate h3 {
    color: var(--BFG-Primary-Green, #00693E);
}
.forum-cards .corporate {
    color: var(--PB-10, #142E48);
    background: #E3EDF7;
}
.forum-cards .corporate:hover {
    background: hsl(210, 56%, 88%);
}
.forum-cards .environment {
    color: var(--PG-10, #003821);
    background: #ECF3DD;
}
.forum-cards .environment:hover {
    background: hsl(79, 48%, 86%);
}
.forum-cards .forum-title {
    color: var(--BFG-Neutral-White, #F9FAFA);
}

a.taipei,a.taichung,a.soon {
    box-shadow: 2px 3px 0px 0px var(--BFG-Neutral-White, #F9FAFA);
}


/* Theme 講師陣容 */
/*--------------------------------*/
section.tutors {
    background-color: var(--S-90,#ECF3DD);
}
.tutor-card {
    background: var(--BFG-Neutral-Clean, #FFF);
    box-shadow: 0px 6px 20px 0px #C9CED4;
}
.tutor-intro {
    color: var(--BFG-Neutral-Gray, #57616B);
}
.tutor-type a {
    color: var(--BFG-Second-Green, #83A73F);
    background: var(--S-80, #DEEAC7);
}
.tutor-name {
    color: var(--BFG-Primary-Green, #00693E);
}

/* Theme 聯盟宣言 */
/*--------------------------------*/

section.declare .wrap::before {
    background: hsla(180, 9%, 98%, 0.09);
}
section.declare .wrap::after {
    background: hsla(180, 9%, 98%, 0.05);
}
section.declare h2 {
    color: var(--BFG-Neutral-White);
}
section.declare h3.vow {
    color: var(--BFG-Neutral-White);
}
section.declare h3.vow u {
    border-bottom: 2px solid var(--BFG-Neutral-White);
}
section.declare h3.call {
    color: var(--BFG-Quate-Yellow);
}
section.declare p {
    color: var(--BFG-Neutral-White);
}
section.declare .button-main {
    color: var(--N-10);
    box-shadow: 2px 3px 0px 0px var(--BGF-Terti-Orange, #f5ac2e);
}
section.declare .button-main i {
    background-image: url(../image/icon/icon-arrow-black.svg);
}
/* Theme 合作夥伴 */
/*--------------------------------*/
section.partner {
    background-color: var(--S-90,#ECF3DD);
}
.main-partner a {
    background-color: var(--BFG-Neutral-Clean);
}
.alliance a {
    background-color: var(--BFG-Neutral-Clean);
}

/* Theme Footer */
/*--------------------------------*/
footer {
    color: var(--BFG-Neutral-White);
    background-color: var(--BFG-Primary-Green, #00693E);
}
footer main h3 {
    color: var(--BFG-Neutral-Clean, #FFF);
}
footer .follow a {
    color: var(--BFG-Neutral-White, #F9FAFA);
}

footer aside {
    background-color: var(--BFG-Neutral-Clean);
}
footer p.copyright {
    color: var(--N-60);
}

/*Theme Tutor Dialog Modal*/
/*--------------------------------*/
.tutor-modal {
    background: var(--BFG-Neutral-Clean, #FFF);
    box-shadow: 0px 4px 40px 0px rgba(64, 71, 79, 0.40);
}
.tutor-modal main h3 {
    background-color: var(--S-80);
}
.tutor-modal main .tutor-job,.tutor-id {
    background: var(--Secondary-S-90, #ECF3DD);
}
.tutor-modal main .tutor-job {
color: var(--BFG-Second-Green, #83A73F);
}
.tutor-modal main .tutor-id {
    color: var(--N-50, #89949F);
}
.tutor-modal aside p {
color: var(--BFG-Neutral-Gray, #57616B);
}
.tutor-modal aside .tag {
    color: var(--BFG-Neutral-Clean, #FFF);
    background: var(--S-50, #9CC058);
}
.tutor-modal button {
    border: 3px solid var(--BFG-Neutral-Light, #DDE0E3);
    background-color: var(--BFG-Primary-Green, #00693E);
}


/*------------------*/
/*  Other Settings  */
/*------------------*/
.main-title::before {
    background-color:var(--BFG-Quate-Yellow);
}

.scroll-to-top {
    background-color: hsl(155, 100%, 16%);
    color: white;

}
.no-listyle li{
    padding-left: 0!important; 
    background: none!important;
}
/*---------------------------------*/
/* Category Page Settings: Theme */
/*---------------------------------*/
.category main h1 {
    color: var(--BFG-Neutral-Clean, #FFF);
    text-shadow: 1px 1px 0px #00693E;
 }
.category p,ul {
    color: var(--BFG-Neutral-gray, #57616B);
 }
 .category nav.sub-nav a {
    color: var(--BFG-Prime-Green, #00693e);
    background: var(--S-80, #DEEAC7);
 }
 .category nav.sub-nav a:hover {
    color: var(--BFG-Neutral-Clean, #FFF);
    background: var(--BFG-Second-Green, #83A73F);
}

 .category .websites,.websites a {
    color: var(--BFG-Prime-Green, #00693E);
}
.category .content-wrap-medium strong,.category .content-wrap-wide  strong {
    color: var(--BFG-Prime-Green);
}



/*Category Page: 提升影響力*/
table.graph-gri {
    color: var(--BFG-Neutral-Gray);
}
table.graph-gri th {
    color: var(--BFG-Prime-Blue); 
    background-color: var(--BFG-Neutral-Light);
}
table.graph-gri td {
    background-color: #E9EBED;
}
table.graph-gri .title-gri {
    color: var(--BFG-Neutral-Clean);
    background-color: var(--BFG-Prime-Blue);
}
table.graph-gri .title-bia {
    color: var(--BFG-Prime-Blue);
    background-color: var(--BGF-Terti-Orange);
}


/*Category Page: 課程與活動*/
.course nav.sub-nav a.submenu-course, .forum nav.sub-nav a.submenu-forum, .tutor nav.sub-nav a.submenu-tutor {
    color: var(--BFG-Neutral-White);
    background-color: var(--BFG-Prime-Green);
}

/*Course Card*/
.course-card {
    border: 2px solid var(--S-80);
}
.course-card li li {
    color: var(--BFG-Neutral-Gray);
}
.course-title {
    color: var(--BFG-Neutral-Clean);
}
/*Course Detail*/
.course-detail h2 {
    color: var(--BFG-Prime-Green);
}
main p.date {
    color: var(--N-10);
    border-top: 2px solid var(--N-90);
    border-bottom: 2px solid var(--N-90);
}
.course-tag span {
    color: var(--BFG-Prime-Green);
    background-color: var(--S-70);
}
.course-banner {
    border: 3px solid var(--S-40);
}
.forum-tag span {
    color: var(--BFG-Prime-Blue);
    background-color: var(--PB-70);
}
.forum-banner {
    border: 3px solid var(--PB-60);
}
#course-detail li::marker {
    color: var(--BFG-Prime-Green);
    font-weight: 500;
  }
.close-course-popup {display: none;}


/*Forum Settings*/
.forum-cards nav.sub-nav a.submenu-forum {
    color: var(--BFG-Neutral-White);
    background-color: var(--BFG-Prime-Green);
}
.tutor nav.sub-nav a.submenu-tutor {
    color: var(--BFG-Neutral-White);
    background-color: var(--BFG-Prime-Green);
}
.forum blockquote {
    color: var(--BFG-Prime-Blue);
    font-weight: 400;
    position: relative;
}
.forum blockquote::before {
    content: url(../image/icon/icon-quote-start.svg);
    position: absolute;
    left: 0px; 
}
.forum blockquote::after {
    content: url(../image/icon/icon-quote-end.svg);
    position: absolute;
    right: 0px; 
}

#forum-detail .heading-title::after {
    background-color: var(--PB-80);
}

/*Category Page: 永續新聞*/
.news nav.sub-nav a.submenu-esg, .media nav.sub-nav a.submenu-media {
    color: var(--BFG-Neutral-White);
    background-color: var(--BFG-Prime-Green);
}

