@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono&display=swap');
:root {
    --main-color:hsl(41, 98%, 58%);
}
* {box-sizing: border-box;}
body {
    font-family: "Roboto Condensed", sans-serif;
    height: 100vh;
    background-image: url(image/usgs-hoS3dzgpHzw-unsplash.jpg);
    background-size: cover;
    margin: 0;
    position: relative;
}
.flex {display: flex;}
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    background-color: hsla(240, 80%, 20%, 0.7);
    backdrop-filter: blur(5px);

}
.player {
    color: #f0f0f0;
    width: 15rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    padding-bottom: 2rem;
    border-radius: 1.2rem;
    background: rgb(34,193,195);
    background: linear-gradient(0deg,#3A1C71 0%, var(--main-color) 100%);
    box-shadow: 0 6px 10px 0 #15072e;
}
.cover {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 1rem;
    background-color: hsl(211, 30%, 90%);
}

.song-info {
    text-align: center;
    h2 {
        font-weight: 500;
        margin: 5px 0;
    }
}


.tools {
    gap: 1rem;
    button {
        width: 40px;
        height: 40px;
        text-indent: -100px;
        overflow: hidden;
        padding: 10px 20px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: transparent;
        background-position: center;
    
    }
    #prev {background-image: url(image/skip_previous.svg);}
    #play {background-image: url(image/play_circle.svg);}
    #pause {background-image: url(image/pause_circle.svg);}
    #next {background-image: url(image/skip_next.svg);}
}


.time {
    font-size: 0.9rem;
    font-family: "Reddit Mono", monospace;
    width: 100%;
    align-items: center;
    gap: 0.8rem;
    #current-time {
        color: var(--main-color);
    }
}

progress {
    width: 100%;
    height: 0.3rem;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
}

progress::-moz-progress-bar {
    background: hsla(0, 0%, 70%, 0.6);
}
progress::-webkit-progress-bar {
    background: hsl(0, 0%, 70%,0.6);
}
progress::-webkit-progress-value {
    background: 
    linear-gradient(90deg,
        hsl(41, 98%, 40%) 0%, 
        var(--main-color) 100%);
}



