@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
/* 通用設定 */
* {box-sizing: border-box;}
body, h1, h2, h3, h4 ,p {
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
body {
    color: #4F5148;
    font-family: "Roboto", sans-serif;
    background-image: url(image/bg_snowflake.svg);
    background-color: #D7D9D4;
}
.wrap-header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 5px 0 rgba(85, 107, 47, 0.3);
    position: sticky;
    top: 0px;
}
.wrap-content {
    width: 1024px;
    margin: 0 auto;
}
/* Header 頁首設定 */
header {
    width: 1024px;
    margin: 0 auto;
    padding: 12px;
    display: flex;
}

header .logo {
    background-image: url(image/logo.svg);
    background-repeat: no-repeat;
    margin-right: auto;
    margin-top: 3px;
}
header .logo a {
    display: block;
    width: 143px; height: 32px;
    text-indent: -9999px;
    overflow: hidden;
}

header ul {
    margin: 0; padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}
header ul a {
    color: #4F5148;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    display: block;
    border-radius: 40px;
    padding: 10px 22px;
    background-color: #F3F3F2;
}
header ul a:hover {
    color: #F3F3F2;
    background-color: hsl(73, 6%, 60%);
}
header .cta-button {
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-left: auto;
    border: 0;
    border-radius: 40px;
    padding: 10px 22px;
    background-color: #4F5148;
    cursor: pointer;
} 
/*Main 主視覺設定*/
main {
    text-align: center;
    color: whitesmoke;
    width: 100%; height: 360px;
    padding-top: 140px;
    margin-top: 18px;
    margin-bottom: 16px;
    border-radius: 16px;
    background-image: url(image/main-image.jpg);
    box-shadow: 0 0 5px 0 rgba(85, 107, 47, 0.4);
}
main h1 {
    font-size: 96px;
    font-family: "Source Serif 4", serif;
    font-weight: 900;
    text-shadow: 0 0 8px rgba(55, 70, 30, 0.5);;
}
main h3 {
    font-size: 32px;
    text-shadow: 0 0 8px rgba(55, 70, 30, 0.5);;

}
/*Card 小卡設定*/
section {
    width: 100%;
    display: flex;
    gap: 16px;
}
.card {
    color: #6A6D61;
    width: 244px;
    background-color: #F3F3F2;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 5px 0 rgba(85, 107, 47, 0.3);
}
.card-content {
    padding: 16px 22px;
}
.card-title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 16px;
}
.card-intro {
    font-weight: 300;
    line-height: 150%;
}
/*Footer  頁尾設定*/
footer {
    color: #8D9183;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
footer a {
    color: #8D9183;
}
footer a:hover {
    color: #4F5148;
}